body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  padding-top: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  padding: 15px 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.txt {
  width: 13em;
}

.pad-top div {
  padding-top: 5px;
}

.pad-top div label {
  width: 15em;
  display: inline-block;
  border: 0px solid black;
  text-align: right;
  padding-right: 1em;
}

.red-wrn-text {
  color: red;
}

.hurray {
  color: gray;
  background-color: blanchedalmond;
  text-decoration: none;
  
}

a {
  margin: 10px;
  padding: 5px;
  text-decoration: none;
  background-color: gray;
}

/* +++++++++++++++++++++++++++++++ */
.parent {
  display: flex;
  flex-direction: column;
  /* flex-grow: 1; */
  border: 1px solid black;
  height: 100%;
  width: 15rem;
}

.item {            
  padding: .5rem;
  border: 1px solid black;
}

.logo {
  flex-grow: 0;
}
.user {
  flex-grow: 0;
}
.menu-items {
  flex-grow: 1;
  /* overflow-x: scroll;
  overflow-y: scroll;
  overflow-y: hidden; */
  /* overflow: hidden; */

  overflow-y: hidden;
  overflow-x: hidden;
  flex-basis: 0;
  justify-content: flex-start;
}
.theme {
  flex-grow: 0;
}
.support {
  flex-grow: 1;
}